@inherits LayoutComponentBase

<main class="m-0 p-0 is-flex is-flex-direction-row">
    <div class="navbar-container">
        <NavBar/>
    </div>
    <div class="is-flex-grow-1 m-4">
        @Body
    </div>
</main>
