<!-- Nav bar component -->
<div class="navpane">
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li>
                <NavLink href="/" ActiveClass="is-active" Match="NavLinkMatch.All">
                    Dashboard
                </NavLink>
            </li>
            <li>
                <NavLink href="/counter" ActiveClass="is-active">
                    Counter
                </NavLink>
            </li>
        </ul>
    </aside>
</div>
